<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">./src/Tests/Acceptance</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./src/Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="DATABASE_URL" value="pgsql://app:E1uoLAjHWHza2k9j@database:5432/app_test" />
        <!-- define your env variables for the test env here -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <!-- Key paths should be relative to the project directory -->
        <env name="JWT_PRIVATE_KEY_PATH" value="config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY_PATH" value="config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="0f45a74391fd999f6c7060bbf2c1f4a1"/>
        <env name="JWT_TOKEN_TTL" value="3600"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
